body{
    background: #fff;
}
.app{
    background: #fff;
    width:90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight:25px;
    color:#001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color:#001e4d;
    font-weight: 600;

}
.btn{
    background: #fff;
    color:#222;
    font-weight: 500;
    width:100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor:pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color:#fff;

}
.btn:disabled{
  curser:no-drop;  
}
#next-btn{
    background:#001e4d;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border:0;
    padding:10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor:pointer;
    display:none;

}
.correct{
    background:#9aeabc;
    
}
.incorrect{
    background:#ff9393;

}

.frontbox{
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  --main-column-width: 580px;
  max-width: var(--main-column-width, 400px);
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 0px;
  width: calc(100% - 2* var(--main-column-margin, 16px));
  flex: 1 1 0%;
  margin: 0px auto;
 }

 .frontdialogue {
  font-family: sans-serif;
  color: rgb(25, 23, 23);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;  
}
.frontheading{
  font-family: "Helvetica", sans-serif;
  font-weight: 1500;
  font-style: normal;
  color:rgb(232, 175, 33);
  font-size: 40px;
  line-height: 50px;
  text-align: center;   
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
@media only screen and (max-width: 480px) {
      .frontbox{
          height: 100%;
         }
}

div {
  display: block;
  unicode-bidi: isolate;
}

.table {
  outline: none;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.frontimage{
  display: block;
  margin: 0px auto;
}

img{
  overflow-clip-margin: content-box;
  overflow: clip;
}

#start-btn{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px 16px;
    min-height: 60px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background-color: rgb(251, 81, 59);
    font-family: "Untitled Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: 14px;
}

#email-content{
    font-family: "Untitled Sans", sans-serif;
      color: rgb(25, 23, 23);
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 32px;
  
 }
 input{
    font-family: "Untitled Sans", sans-serif;
      color: rgb(25, 23, 23);
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      box-sizing: border-box;
      flex: 1 1 0%;
      height: 62px;
      outline: 0px;
      width: 100%;
      border: 1px solid rgb(170, 170, 170);
      padding: 17px 19px;
  }
 #email-copy{
    font-family: "Untitled Sans", sans-serif;
    color: rgb(25, 23, 23);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 28px;
    text-align: center;
}
#email-result{
    font-family: "Untitled Sans", sans-serif;
      color: rgb(25, 23, 23);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin-top: 28px;
  
}
@media only screen and (max-width: 480px) { 
  #submit-email{
            margin-bottom: 28px;
        }
    }
#submit-email {
    display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 0px 16px;
      min-height: 60px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      background-color: rgb(251, 81, 59);
      font-family: "Untitled Sans", sans-serif;
      font-style: normal;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      margin-top: 28px;
  }
.hidden {
      display: none;
    }
